<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Instituições</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center">Instituições</h2>
    <table class="table table-bordered">
        <thead class="thead-dark text-center">
            <tr><th>Nome</th><th>Site</th><th>Telefone</th></tr>
        </thead>
        <tbody>
        {% for i in instituicoes %}
            <tr>
                <td>{{ i.nome }}</td><td>{{ i.site }}</td><td>{{ i.telefone }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
